a.out
*.o
*.swp
.DS_Store
.tmp_versions
hello.mod.c
.Module.symvers.cmd
.cache.mk
.hello.ko.cmd
.hello.mod.cmd
.hello.mod.o.cmd
.hello.o.cmd
.modules.order.cmd
Module.symvers
hello.ko
hello.mod
modules.order
hello.mod.o
hello.o
.hello.c.swp
